.khung{
    margin-top: 200px;
    height: 350px;
    width: 500px;
    border: 2px solid red;
    margin-left: 40%;
}

.br{
    padding-top: 100px;
    height: 900px;
    width: auto;
    background-image: url(./anh.jfif);
}